<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.unizar.eina.pandora">
    <!-- To call backing services -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".actividades.CrearCategoria"></activity>
        <activity android:name=".actividades.CrearPasswordCinco" />
        <activity android:name=".actividades.CrearPasswordCuatro" />
        <activity android:name=".actividades.CrearPasswordTres" />
        <activity android:name=".actividades.CrearPasswordDos" />
        <activity android:name=".actividades.CrearPasswordUno" />
        <activity android:name=".actividades.CrearPasswordSeis" />
        <activity android:name=".actividades.Principal" />
        <activity android:name=".actividades.ContactarTres" />
        <activity android:name=".actividades.ContactarDos" />
        <activity android:name=".actividades.ContactarUno" />
        <activity android:name=".actividades.RegistroDos" />
        <activity android:name=".actividades.Login" />
        <activity android:name=".actividades.Inicio">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".actividades.RegistroUno" />
    </application>

</manifest>